*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  font-family: Helvetica, Sans-Serif;
}
html { scroll-behavior: smooth; }
/* header start */
.header_logo{
  flex: 3;
}

.Header{
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_links{
  flex:2;
  display: flex;
  flex-direction: row;
}

.header_links p {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding:10px 20px; 
  cursor: pointer;
}

.header_links_dont,.filter_dont{
  display: none;
}

/* header end*/


/* blogs */
.blog_img{
  padding: 12px;
  object-fit: cover;
  transition: ease 0.3s;
}

.blog_main{
  width: 290px;
  height: inherit;
  padding: 16px;
  margin: 10px;
}

.blog_main:hover .blog_img{
  transform: scale(1.1);
}
/* blogs */

/* main  start*/

.container{
  display: flex;
}

.filter{
  flex: 1;
  padding: 20px;
}

.filter h3{
  font-weight: 600;
  font-size: 23px;
  padding-bottom: 10px ;
}

.filter p {
  text-transform: uppercase;
  padding: 15px 0px;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
}

.filter p span{
  float: right;
  font-size: 23px;
}

.Blogs{
  flex: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*main end */
.related-content{
  display:flex;
  flex-wrap: wrap;
}
.sp-title{
 margin-top: 20px;
 margin-left: 20px;
}
.sp-heading{
  color: #005C9C;
  /* font-family: 'Courier Prime', monospace; */
  margin-left: 20px;
}
.sp-decs{
  margin-top: 20px;
  margin-left: 20px;
}
.sp-img{
  width: 100%;
  object-fit: cover;
  margin:30px;
  max-height: 500px;
}
.sp-data-description{
  margin-left: 20px;
  font-size: 18px;
  line-height: 30px;
  /* font-family: 'Merriweather', serif; */
}
.sp-related-content{
  margin-left: 20px;
  margin-top: 50px;
  font-size: 20px;
}
